## Capstone 2: 99 DAPT SAO IH Hotel Booking Leaderboard Analysis

While calculating summary statistics for a table of only 14 rows is trivial and is done faster manually, this was implemented as an exercise.

Attempts were unsuccessfully made to scrape the leaderboard page directly into a pandas database.

Instead, data was copied and pasted into the 'kaggle_leaderboard.txt' file.

In [95]:
import pandas as pd

In [96]:
file = open('kaggle_leaderboard.txt', 'r')
data = file.readlines()

Examining the data with the first 10 elements, last 10 elements, and the number of elements.

In [97]:
print (data[0:10])
print (data[-10:])
print (len(data))

['1\n', 'Manav Gupta\n', '0.97175\n', '9\n', '3mo\n', '2\n', 'Christopher Coffee\n', '0.83468\n', '37\n', '3mo\n']
['13\n', '+1 participant\n', '0.43047\n', '2\n', '3mo\n', '14\n', 'Vishal Kanojiya\n', '0.37045\n', '1\n', '3mo']
70

Upon quick inspection, the newline characters are visible in each string.  In order to remove the newline characters:

In [98]:
data = [d.replace('\n', '') for d in data]
print (data[0:10])

['1', 'Manav Gupta', '0.97175', '9', '3mo', '2', 'Christopher Coffee', '0.83468', '37', '3mo']

Note that the relevant string to extract is the 3rd element of every 5 elements.  The relevant string is extracted and converted into a float.

In [99]:
scores = [float(data[i]) for i in range(2, len(data),5)]
print (scores)

[0.97175, 0.83468, 0.82502, 0.78398, 0.77044, 0.74509, 0.73951, 0.72208, 0.698, 0.63865, 0.63865, 0.54444, 0.43047, 0.37045]

The list of scores is converted into a pandas dataframe.

In [102]:
scores = pd.DataFrame(scores, columns=['Scores'])
scores.head()

    Scores
0  0.97175
1  0.83468
2  0.82502
3  0.78398
4  0.77044

Summary statistics are displayed.

In [107]:
scores.describe()

          Scores
count  14.000000
mean    0.693801
std     0.160804
min     0.370450
25%     0.638650
50%     0.730795
75%     0.780595
max     0.971750

I had originally aimed to score in the top 2%, had there been a lot more interest in this Kaggle exercise.  Instead, I'll aim to score 94% or better.