## User-defined functions

In [3]:
def square (value): # <--- This is the function header
    """Returns the square of a value.""" #<--- Docstring
    new_value = value ** 2 # <--- This is the function body
    return new_value
    
square(4) # <--- This is a function call

16

In [2]:
def raise_to_power(value1, value2):
    """Raise value1 to the power of value2."""
    new_value = value1 ** value2
    return new_value

raise_to_power(2,3)

8

In [4]:
# Tuples are constructed with parenthesis.  They are immutable (values cannot be changed)

even_nums = (2,4,6) # <--- Contructing and assigning a tuple 
a, b, c = even_nums # <--- unpacking tuple into multiple variables
even_nums[2] # <--- access tuple elements much like a list

6

In [7]:
def raise_both(value1, value2):
    """Raise value1 to the power of value2 and vice versa."""
    
    new_value1 = value1**value2
    new_value2 = value2**value1
    
    new_tuple = (new_value1, new_value2)
    return (new_tuple)

print (raise_both(2,3))

(8, 9)

In [9]:
import pandas as pd

# Import file using Pandas as DataFrame:
df = pd.read_csv('file.csv')
df

     First Last  ID
0     John  Doe   1
1     Jane  Kim   2
2    Chris   No   3
3  Anthony   Lo   4

## Scope
Part of the program where an object or name may be accesible.

1. Global - defined in main body of a script
2. Local - defined inside a funcion
3. Built-in - names in the pre-defined built-ins module

## Nested Functions Example

In [10]:
# Define echo
def echo(n):
    """Return the inner_echo function."""

    # Define inner_echo
    def inner_echo(word1):
        """Concatenate n copies of word1."""
        echo_word = word1 * n
        return echo_word

    # Return inner_echo
    return inner_echo

# Call echo: twice
twice = echo(2)

# Call echo: thrice
thrice = echo(3)

# Call twice() and thrice() then print
print(twice('hello'), thrice('hello'))

hellohello hellohellohello

## Flexible Arguments Example

In [11]:
# Define gibberish
def gibberish(*args):
    """Concatenate strings in *args together."""

    # Initialize an empty string: hodgepodge
    hodgepodge = ''

    # Concatenate the strings in args
    for word in args:
        hodgepodge += word

    # Return hodgepodge
    return hodgepodge

# Call gibberish() with one string: one_word
one_word = gibberish('luke')

# Call gibberish() with five strings: many_words
many_words = gibberish("luke", "leia", "han", "obi", "darth")

# Print one_word and many_words
print(one_word)
print(many_words)

luke
lukeleiahanobidarth

## Lambda Functions

In [15]:
raise_to_power = lambda x,y: x ** y
raise_to_power(2,3)

8

In [18]:
nums = [48, 6, 9, 21, 1]
square_all = map(lambda num: num ** 2, nums)
print (list(square_all))

[2304, 36, 81, 441, 1]

In [19]:
add_bangs = lambda str: str + '!!!'
add_bangs('hello')

'hello!!!'

In [20]:
# Create a list of strings: spells
spells = ["protego", "accio", "expecto patronum", "legilimens"]

# Use map() to apply a lambda function over spells: shout_spells
shout_spells = map(lambda spell: spell + '!!!', spells)

# Convert shout_spells to a list: shout_spells_list
shout_spells_list= list(shout_spells)

# Print the result
print(shout_spells_list)

['protego!!!', 'accio!!!', 'expecto patronum!!!', 'legilimens!!!']

In [21]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda fellow: len(fellow)>6, fellowship)

# Convert result to a list: result_list
result_list = list(result)

# Print result_list
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

## Errors and Exceptions
try-except and a raise example

In [22]:
def sqrt(x):
    """Returns the square root of a number."""
    if x < 0:
        raise ValueError('x must be non-negative')
    try: 
        return x ** 0.5
    except TypeError:
        print('x must be an int or float')

In [23]:
sqrt("hello")

x must be an int or float