# Relational Databases

Databases store data.  Information is stored in **tables**.  Tables have rows and columns.

A **relational database** defines relations between tables in the database.

## SQL
SQL or **Structed Query Language** is a programming language for creating, querying and updating, relational databses.

## Tables
Rows are also known as **records**.
Columns are also known as **fields**.  The column headers are called **attributes**.

#### Table Naming Conventions:
* are lowercase
* have no spaces (use underscores)

#### Field Naming Conventions
* attributes are lowercase
* attributes have no spaces (use underscores)
* are singular
* are unique - no 2 attributes in a table should have the same name
* are not the same as the table name

All tables should have a **key**, which is a field which is a unique identifier for each record in the table.

## SQL Data Types
Each field must have a data type.

#### Varchar
Strings of varying length (up to a specified length).

#### Int
Whole numbers from -2 billion to 2 billion.

#### Numeric
Floats which have up to 38 digits.

## Schemas
An blueprint of the database.  A schema includes general table information (such as table name, attributes, and data types) and also specifies relationships among the various tables.

## Queries

#### Select
Specifies which fields should be selected.

#### From
Specifies which table.

#### Examples:
```
SELECT name
FROM patrons;
```

```
SELECT name, card_num, total_fine
FROM patrons;
```

```
SELECT *
FROM patrons;
```

#### Result Set
The results from a query.

#### Aliasing
Use aliasing to rename columns in the result set.
```
SELECT name AS first_name, year_hired
FROM employees;
```

#### Distinct
Return a list of unique  values of a specified column.
```
SELECT DISTINCT year_hired
FROM employees;
```
When using distinct on multiple fields, it will return all unique combinations of the values.
```
SELECT DISTINCT dept_id, year_hired
FROM employees;
```

## Views
A view is a virtual table that is the result of a saved select statement.  These are generally not stored in the database.  The query code is stored.
```
CREATE VIEW employee_hire_years AS
SELECT id, name, year_hired
FROM employees;
```

We can now query the view directly as follows:
```
SELECT id, name
FROM employee_hire_years
```

## SQL Flavors
* PostgresSQL
* T-SQL for Microsoft SQL Server

#### PostgresSQL Example:
```
SELECT *
FROM employees
LIMIT 2;
```

#### SQL Server Example
```
SELECT TOP(2) *
FROM employees;
```