## INNER JOIN
Returns a table that includes only records with matching keys in both tables.  All columns are returned.

When selecting columns, columns that have the same name must be specified as below or an error is returned.

```
SELECT p1.country, p1.continent, prime_minister, president
FROM prime_ministers AS p1
INNER JOIN presidents AS p2
ON p1.country = p2.country;
```

## USING

Can be used instead of `ON` when keys in both tables match.

```

SELECT c.name AS country, continent, l.name AS language, official
  FROM countries AS c
  INNER JOIN languages AS l
    USING(code)
```

## Self Joins
Used to compare values in a field to other values of the same field from the same table.

```
SELECT p1.country AS country1, p2.country AS country2, p1.continent
FROM prime_ministers AS p1
INNER JOIN prime_ministers AS p2
ON p1.continent = p2.continent AND p1.country <> p2.country
```

## CASE WHEN and THEN
Slices a numerical field into categories.

```
SELECT name, continent, indep_year,
    CASE WHEN indep_year < 1900 THEN 'before 1900'
        WHEN indep_year <= 1930 THEN 'between 1900 and 1930'
        ELSE 'after 1930' END
        AS indep_year_group
FROM states
ORDER BY indep_year_group;
```

## INTO
Used to store tables.

```
SELECT name, continent, code, surface_area,
    CASE WHEN surface_area > 2000000
            THEN 'large'
       WHEN surface_area > 350000
            THEN 'medium'
       ELSE 'small' END
       AS geosize_group
INTO countries_plus
FROM countries;
```

## Outer Joins
1. `LEFT JOIN`
2. `RIGHT JOIN`
3. `FULL JOIN`

Returns ALL keys specified by the type of join.  Values for keys that are missing in the accompanying table are left blank.k

## LEFT JOIN

```
SELECT p1.country, prime_minister, president
FROM prime_ministers AS p1
LEFT JOIN presidents AS p2
ON p1.country = p2.country;
```

## FULL JOIN

Combines `LEFT JOIN` and `RIGHT JOIN` so all missing values are tracked.

```
SELECT p1.country AS pm_co, p2.country AS pres_co
    prime_minister, president
FROM prime_ministers AS p1
FULL JOIN presidents AS p2
ON p1.country = p2.country;
```

## CROSS JOIN
Returns every possible combination of keys.

```
SELECT prime_minister, president
FROM prime_ministers AS p1
CROSS JOIN presidents AS p2
WHERE p1.continent IN('North America', 'Oceania');
```

## Sets
![sets.png](sets.png)


## UNION and UNION ALL
```
SELECT prime_minister AS leader, country
FROM prime_ministers
UNION
SELECT monarch, country
FROM monarchs
ORDER BY country;
```

## INTERSECT
```
SELECT country
FROM prime_ministers
INTERSECT
SELECT country
FROM presidents
```

## EXCEPT

Returns records that are only in the left table (missing from right table).

```
SELECT monarch, country
FROM monarchs
EXCEPT
SELECT prime_mninister, country
FROM prime_ministers
```

## Semi Joins
Returns records in the first table where a condition is met in a second table.

```
SELECT name
FROM states
WHERE indep_year < 1800

SELECT president, country, continent
FROM presidents
WHERE country IN 
    (SELECT name
    FROM states
    WHERE indep_year < 1800)
```

## Anti Joins
Returns records in the first table where a condition is NOT met in a second table.

```
SELECT name
FROM states
WHERE indep_year < 1800

SELECT president, country, continent
FROM presidents
WHERE continent LIKE '%America'
    AND country NOT IN
    (SELECT name
    FROM states
    WHERE indep_year < 1800)
```

## Nested Queries and Sub Queries

```
SELECT DISTINCT continent,
    (SELECT COUNT(*)
    FROM states
    WHERE prime_ministers.continent = states.continent) AS countries_num
FROM prime_ministers;
```

```
SELECT DISTINCT monarchs.continent, subquery.max_perc
FROM monarchs,
    (SELECT continent, MAX(women_parli_perc) AS max_perc
    FROM states
    GROUP BY continent) AS subquery
WHERE monarchs.continent = subquery.continent
ORDER BY continent;
```