In [1]:
class Candy:
    flavor = 'sweet'
    
    def __init__(self, name):
        self.name = name
        
c = Candy('Chocolate')

c.name

'Chocolate'

In [2]:
book = {
    'title': 'The Giver',
    'author': 'Lois Lowry',
    'rating': 4.13
}

book['format']='paperback'

book['format']

'paperback'

In [3]:
w = 'python'

w_iterator = iter(w)

next(w_iterator)

'p'

In [4]:
[i * 3 for i in range(5)]

[0, 3, 6, 9, 12]

In [5]:
with open('hello.txt', 'w') as file:
  file.write("hello!")

print(file.closed)

True

In [6]:
[i for i in range(5) if i > 2]

[3, 4]

In [7]:
class Dog:
    def __init__(self):
        pass
    
    def bark(self):
        return "bark bark bark bark bark bark..."

d = Dog()
d.bark()

'bark bark bark bark bark bark...'

In [8]:
s = "animal-horse"

s.split("-")

['animal', 'horse']

In [9]:
x = lambda : "I know how to call this function."

x()

'I know how to call this function.'

In [10]:
lst = ['numpy', 'pandas', 'requests']

lst_gen = (pkg for pkg in lst)

next(lst_gen)

'numpy'

In [11]:
def fun_docs():
    """I know how to interact with the docstrings of a function."""
    
    return None

fun_docs.__doc__

'I know how to interact with the docstrings of a function.'

In [12]:
w = 'python'

w_iterator = iter(w)

next(w_iterator)

'p'

In [13]:
a = [99, 23, 46, 78, 12, 34, 56, 15, 22, 77, 31, 9, 1]
b = [12, 16, 43, 77, 11, 99, 23, 44, 50, 46, 78, 3, 2]
overlaps = set(a) & set(b)


print(overlaps)

{99, 12, 77, 78, 46, 23}

In [17]:
a = {1, 2, 3}
b = {4, 5, 6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [18]:
def square(x):

    '''Returns the square of the argument x'''

    return x*x

square.__doc__

'Returns the square of the argument x'

In [19]:
[i * 2 for i in range(5)]

[0, 2, 4, 6, 8]

In [20]:
def square_args(func):
  def inner(a, b):
    return func(a ** 2, b ** 2)
  return inner

@square_args
def multiply(a, b):
  return a * b

multiply(3, 9)

729

In [26]:
s = "fox"

s.ljust(4)

'fox '

In [1]:
x = (1, 2, 3)
s = set(x)

s

{1, 2, 3}

In [2]:
book = {
    'title': 'The Giver',
    'author': 'Lois Lowry',
    'rating': 4.13
}

book['rating'] = 4.6


book['rating']

4.6

In [3]:
def add_many(*args):
    s = 0
    for n in args:
        s += n
    print(s)

add_many(100, 50, 3)

153

In [5]:
this_var = 30

def func():
  

  this_var = 20
  print(this_var)
    
print(this_var)
func()
print(this_var)

30
20
30

In [10]:
def add_two(x:int)->int:
  return x + 2

add_two(1)

3

In [12]:
d = {
    'apple': 1,
    'banana': 2,
    'coconut': 3
}

d['durian'] = 4


d

{'apple': 1, 'banana': 2, 'coconut': 3, 'durian': 4}

In [15]:
def make_dict(**kwargs):
    return kwargs

make_dict(a = 1, b = 2)

{'a': 1, 'b': 2}

In [29]:
s = "a"

s.center(3)

' a '

In [30]:
[ x.upper() for x in ['hello', 'world']]

['HELLO', 'WORLD']